<!-- CONTACT -->
    <div class="contact-section">
      <span class="page-kicker">CONTACT</span>
      <h2>Contactez-nous</h2>
      <p>Une question ? Une suggestion ? Nous sommes là pour vous aider.</p>
      <div class="contact-grid">

        <div class="contact-card">
          <div class="contact-icon">📧</div>
          <h4>Email</h4>
          <a href="mailto:Cutcutmain@gmail.com">Cutcutmain&#64;gmail.com</a>
        </div>

        <div class="contact-card">
          <div class="contact-icon">📱</div>
          <h4>WhatsApp</h4>
          <a href="https://wa.me/212600000000" target="_blank">+212 6 00 00 00 00</a>
        </div>

        <div class="contact-card">
          <div class="contact-icon">📍</div>
          <h4>Localisation</h4>
          <a href="https://maps.app.goo.gl/bqJaiSq3BR45SRyf9?g_st=iw" target="_blank">
            Centre Innovation UPF University
          </a>
        </div>

        <div class="contact-card">
          <div class="contact-icon">📘</div>
          <h4>Facebook</h4>
          <a href="https://www.facebook.com/share/198JTW6wfg/?mibextid=wwXIfr" target="_blank">
            Suivez-nous sur Facebook
          </a>
        </div>

      </div>
    </div>