@import "primeicons/primeicons.css";/* You can add global styles to this file, and also import other style files */
html,



:root {
    --p-primary-color: #2563eb;
    --p-primary-500: #2563eb;
    --p-primary-600: #1d4ed8;
  }

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #111827;
}